<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<a href="https://github.com/tutoriel-angular2/tutoriel-ng2"><img
        style="position: absolute; top: 0; right: 0; border: 0;"
        src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
        alt="Fork me on Github"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div>
            <center><h3>Tutoriel Angular 2(En cours)</h3></center>
            <br>
            <center><img src="https://angular.io/resources/images/logos/angular2/angular.svg" height="120" width="120" /></center>

        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="/" class="mdl-layout__tab {% if page.url == '/' %}is-active{% endif %}">Accueil</a>
            <a href="/contact" class="mdl-layout__tab {% if page.url == '/contact/' %}is-active{% endif %}">A propos & Contact</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">