---
layout: default
---


<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4>Bienvenu sur le Tutoriel <a href="http://angular.io" target="_blank">angular 2</a></h4>
            IL y a déjà plusieurs mois les developpeurs de Angular chez Google annoncait l'arrivée de
            Angular 2 en version stable.
            Il y a une polemique grande autour du nouveau Framework qui était selon certains trop compliqué à
            prendre en main notamment avec l'introduction de Typescript comme langage recommandé pour écrire
            les applications angular 2.
            <br>
            Aujourd'hui Angular 2 est stable et prêt a être utilisé, on est heureux de vous servir ce grand
            tutoriel angular2 qui s'inscrit comme un des premiers dans la communauté de developpeurs
            francais.
            <br><b>
            Le tutoriel part de la grande introduction au nouveau Framework développé par Google à une
            entrée dans les concepts avancés jusqu'à la mise en production
        </b>
            <hr>
            <center>
                <center><h5>!!!!Le tutoriel est en cours de rédaction!!!!</h5></center>
                <h5>Merci de suggerer vos corrections et suggestions sur notre <a
                        href="https://github.com/tutoriel-angular2/tutoriel-ng2" target="_blank">GitHub
                    Repository</a></h5>
            </center>
        </div>
    </div>
</section>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Table de contenu</h4>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Introduction à Angular 2 et installation des outils </h5>
                C'est quoi angular 2? Qui y a t'il de nouveau dans le framework? Dans ce chapitre on
                procedera a une introduction globale à Angular 2! Aucune experience avec angularJS 1.x n'est
                requise même si quelques fois des petites comparaisons seront faites entre les deux versions
                du framework.
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Ma première application angular 2 </h5>
                Après avoir installé les outils, on developpera notre toute premiere application angular qui
                ne fera rien d'autre qu'afficher le contenu d'une variable dans nos vues.

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Typescript: prendre le langage en main</h5>
                Typescript est le langage recommandé quand on veut developper des applications angular 2. Ce
                chapitre introduit Typescript de facon tres simple et brève vu que Typescript est tres
                proche du javascript traditionnel.
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Comment Angular 2 marche ?</h5>
                Après les premiers pas dans le langage, on va entrer plus profondement dans le langage en
                comprenant les concepts de base et comment toutes les composantes fusionnent ensemble
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Les directives incluses dans le framework </h5>
                Angular 2 est livré dans son core avec des directives prédefinies. Dans ce chapitre chacune
                de ces directive introduite avec des exemples d'utilisation

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Les Formulaires avec Angular 2</h5>
                Les formulaires representent le point de contact entre les utilisateurs et vos applications.
                Dans ce chapitres
                on apprendra comment creer, valider et gerer des formulaires avec angular 2

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>HTTP: Parlez avec vos APi</h5>
                Aujourd'hui on ne parle plus que WebService, dans ce chapitre on introduira un des modules
                fondamentaux de angular 2
                qui est le composant HTTP. on fera des CRUD operations sur des APIs
            </div>

            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Le Routing avec Angular 2</h5>
                Dans ce chapitre on apprendra comment naviguer dans l'application et comment transporter les
                informations d'une
                vue a une autre
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>L'Injection de dependances</h5>
                L'injection des dependances fait partie des notions les plus importantes dans les frameworks
                actuels sur le marché
                et angular 2 n'y echappe pas. Angular 2 a dans son coeur une veritable machine qui gere les
                dependances entre les
                differentes composantes de notre application.

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>L'architecture des données dans une application angular 2 </h5>
                Gerer les données dans une application peut s'averer tres complexe des que celle-ci grandit.
                Dans ce chapitre on
                apprendra a manager les données de notre applications obtenues de differentes sources
                (RestCall, LocalStorage, ...)

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Les observables</h5>
                Qui parle de données parlent de changement! Comment s'y prendre avec les données qui
                changent ? Ce chapitre est
                la reponse à cette problematique.

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Introduction à Redux</h5>#
                les UIs deviennent de plus en plus complexes et dans les SPA (Single Page App) on a besoin
                de gerer l'etat de la route
                active, d'un tab qu'on a selectionné, on a besoin d'afficher un SPinner quand les données
                chargent ou quand un calcul
                est en cours.

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Quelques composants avancées</h5>
                Ici on introduira quelques notions avancées de Angular 2

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Tester une application Angular 2</h5>
                Dans ce chapitre on apprendra comment tester facilement des application Angular 2.
            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Angular 2 en production</h5>
                Après avoir developpé en local sur son Mac ou PC on se demande toujours comment mettre
                l'application en production
                sur un serveur.Dans ce chapitre on donnera quelques astuces pour reussir de la plus simple
                facon possible à deployer votre application

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Angular 2 dans AngularJs 1 </h5>+
                Vous avez une tres grosse application angularjs 1.x et souhaitez quand meme introduire
                angular 2 dans celle-ci ? Ce chapitre nous
                apprendra comment ca se fait

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><br>Conclusion</h5>

            </div>
        </div>
    </div>
</section>