---
layout: default
---


<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
            <h4>Bienvenu sur le Tutoriel <a href="http://angular.io" target="_blank">angular 2</a></h4>
            IL y a déjà plusieurs mois les developpeurs de Angular chez Google annoncait l'arrivée de
            Angular 2 en version stable.
            Il y a une polemique grande autour du nouveau Framework qui était selon certains trop compliqué à
            prendre en main notamment avec l'introduction de Typescript comme langage recommandé pour écrire
            les applications angular 2.
            <br>
            Aujourd'hui Angular 2 est stable et prêt a être utilisé, on est heureux de vous servir ce grand
            tutoriel angular2 qui s'inscrit comme un des premiers dans la communauté de developpeurs
            francais.
            <br><b>
            Le tutoriel part de la grande introduction au nouveau Framework développé par Google à une
            entrée dans les concepts avancés jusqu'à la mise en production
        </b>
            <hr>
            <center>
                <center><h5>!!!!Le tutoriel est en cours de rédaction!!!!</h5></center>
                <h5>Merci de suggerer vos corrections et suggestions sur notre <a
                        href="https://github.com/tutoriel-angular2/tutoriel-ng2" target="_blank">GitHub
                    Repository</a></h5>
            </center>
        </div>
    </div>
</section>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">Table de contenu</h4>
            {% for chapter in site.data.chapters %}
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary" style="color: white">
                    <center>{{ forloop.index }}</center>
                </div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">

                <h5><br>
                    {% if chapter.done != false %}
                        <a href="/chapter-{{ forloop.index }}">
                            {{ chapter.title }}
                        </a>
                    {% else %}
                        {{ chapter.title }}
                    {% endif %}
                    </h5>
                {{ chapter.description }}
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</section>